.Title {
  text-align: center;
  font-size: 10vh;
  opacity: 0;
  transform: translate(0,-1em);
  transition: 1s ease-in-out;
}
.Title.loaded {
  opacity: 1;
  transform: translate(0,0);
}
.Description {
  text-align: center;
  color: gray;
  margin-top: 0;
  margin-bottom:0;
}
.bottomMargin {
  margin-bottom: 2vh;
}
.topMargin {
  margin-top: 2vh;
}
.JoinChatButtons {
  opacity: 0;
  transform: translate(0,-2em);
  transition: 2s ease-in-out;
}
.JoinChatButtons.loaded {
  opacity: 1;
  transform: translate(0,0);
}

.createRoomBtn {
  float: right;
}
.createRoomBtn:hover {
  transform: scale(1.1,1.1);
  transition: 0.5s ease-in-out;
}
.joinRoomBtn {
  transition: 0.5s ease-in-out;
}
.joinRoomBtn:hover {
  transform: scale(1.1,1.1);
  transition: 0.5s ease-in-out;
}

.HomeCenter {
  position: relative;
  top: 30vh;
}
.InputBox {
  width: 50%;
  opacity: 1;
  margin: auto;
}

.rowGap {
  height:4vh;
}
